*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    padding-block: 2em;
    background-color: #dbdfff;
    /*background: linear-gradient(0deg, #708ddb 0%, #dbdfff);*/
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 1em;
    color: #101010;
    gap: 2em;
    /*background-repeat: no-repeat;*/
}
.container{
    display: grid;
    height: 40em;
    width: 40em;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    border-radius: 0.5em;
    box-shadow: 5px 0px 10px 2px rgba(80, 79, 79, 0.21);
}
.item{
    gap: 1.5em;
    display: grid;
}
input{
    text-align: center;
    height: 3em;
    width: 14.5em;
}
label{
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
    border-bottom: 0.01em solid #454545;
}
button{
    font-weight: 600;
    height: 3em;
    width: 14.5em;
    color: #2f447b;
    background-color: #F7F7F7;
    border: 1.5px solid #2f447b;
    border-radius: 0.2em;
    cursor: pointer;
    transition: 0.4s all ease;
}
button:hover{
    transform: translateY(-0.125em);
    color: #F7F7F7;
    background-color: #708ddb;
    border: 1px solid #2f447b;
    
}
.resultado{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #454545;
    width: 12em;
    height: 2.5em;
    background-color: #F7F7F7;
    color: #101010;

}